.terraform/
.terraform/
.terraform\
terraform\aws\aws_project\Day-1\PROJECT-ec2-instance-creation\.terraform
"C:\Users\parameswara.rebba\OneDrive - Accenture\Desktop\devops\devops\terraform\aws\aws_project\Day-1\PROJECT-ec2-instance-creation\.terraform"
**/.terraform/
